#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.banner_inner h2{
    color: #ffffff;
margin-top: 0px;
font-size: 3em; /**50px**/
font-weight: bold;
font-family: "Poppins", sans-serif;
line-height: 70px;
text-transform: uppercase;
margin-bottom: 5px;
}

.upper_text {
    font-size: 50px;
    text-transform: uppercase;
    color: #fdbb00;
}
.banner_inner p {
    color: #f9f9ff;
    max-width: 680px;
}
